@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para la barra de desplazamiento en navegadores basados en WebKit (Chrome, Safari) */
/* Cambiar el color de fondo */
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

/* Cambiar el color del pulgar (la parte arrastrable) */
::-webkit-scrollbar-thumb {
  background-color: #404040;
  border-radius: 6px; /* Bordes redondeados para el pulgar */
}

/* Cambiar el color de la pista (área detrás del pulgar) */
::-webkit-scrollbar-track {
  background-color: #262626;
}


@keyframes slide-in-bottom {
  0% {
    transform: translateY(40%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-40%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.slide-in-bottom {
  animation: slide-in-bottom 1s ease-out forwards;
}

.slide-in-top {
  animation: slide-in-top 1s ease-out forwards;
}

.slide-in-right {
  animation: slide-in-right 1s ease-out forwards;
}